@model List<MMDb.Web.ViewModels.Favorites.FavoriteMovieViewModel>

@{
    ViewData["Title"] = "Favorite Movies";
}

<h3 class="mobile-fondsize-20 text-center">@ViewData["Title"]</h3>
@foreach (var movie in Model)
{
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-2">
                @if (movie.ImageUrl.Length > 36)
                {
                    <img src="@movie.ImageUrl" class="card-img" alt="">
                }
                else
                {
                    <img src="https://www.genesisglobalschool.edu.in/wp-content/uploads/2016/09/noimage.jpg" class="card-img" alt="">
                }
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="card-title">@movie.Title</h5>
                        <a asp-controller="Favorite" asp-action="Remove" asp-route-id="@movie.Id">
                            <i class="fas fa-times" style="color: red; font-size: 30px;"></i>
                        </a>
                    </div>
                    <p class="card-text">@movie.Description</p>
                    <p class="card-text"><small class="text-muted">@movie.ReleaseDate</small></p>
                </div>
            </div>
        </div>
    </div>
}
